<hr style="border:5px solid #141F31"> </hr>

# 365 DataScience Converting Series into Arrays

<hr style="border:4.5px solid #141F31"> </hr>

## Step 1 Libraries import

In [1]:
# use the well-known convention 
import pandas as pd
import numpy as np

## Step 2 Create a Series object

In [2]:
prices_per_category = pd.Series({'Product A': 22250, 'Product B' : 16600, 'Product C':15600})
prices_per_category

Product A    22250
Product B    16600
Product C    15600
dtype: int64

## Step 3 Return the values of the Series stored in a NumPy array

In [3]:
# Use the .array attribute
prices_per_category.array

<PandasArray>
[22250, 16600, 15600]
Length: 3, dtype: int64

In [4]:
# Use the .to_numpy() method
prices_per_category.to_numpy()

array([22250, 16600, 15600], dtype=int64)

<a href="https://365datascience.com/resources-center/offer/?utm_medium=web&utm_source=rs&utm_campaign=web-rs-converting-series-into-arrays-in-python&utm_content=converting-series-into-arrays-in-python&utm_term=t">Start your 365 Journey!</a>