<hr style="border:5px solid #141F31"> </hr>

# 365 DataScience Creating DataFrames

<hr style="border:4.5px solid #141F31"> </hr>

## Step 1 Libraries import

In [1]:
# use the well-known convention 
import pandas as pd

## Step 2 Create a DataFrame from a Dictionary of Lists

In [10]:
data = {'Category':['A', 'B', 'C'], 'Price':[225, 165, 125]}
df = pd.DataFrame(data)
df

  Category  Prize
0        A    225
1        B    165
2        C    125

## Step 3 Create a DataFrame from a List of Dictionaries

In [12]:
data = [{'Category':'A', 'Price':225}, 
        {'Category':'B', 'Price':165}, 
        {'Category':'C', 'Price':125}]
df = pd.DataFrame(data)
df

  Category  Price
0        A    225
1        B    165
2        C    125

## Step 4 Create a DataFrame from a List of Lists

In [13]:
data = [['A', 225], ['B', 165], ['C', 125]]
df = pd.DataFrame(data)
df

   0    1
0  A  225
1  B  165
2  C  125

In [15]:
# Rename the columns 
df.columns = ['ProductName', 'ProductPrice']
df

  ProductName  ProductPrice
0           A           225
1           B           165
2           C           125

<a href="https://365datascience.com/resources-center/offer/?utm_medium=web&utm_source=rs&utm_campaign=web-rs-creating-dataframes-in-python&utm_content=creating-dataframes-in-python&utm_term=t">Start your 365 Journey!</a>