<hr style="border:5px solid #141F31"> </hr>

# 365 DataScience Ordering the rows from a data table according to the values in a column

<hr style="border:4.5px solid #141F31"> </hr>

## Step 1 Libraries import

In [1]:
# use the well-known convention 
import pandas as pd

## Step 2 Create a Series object

In [2]:
numbers = pd.Series([155, 10, 235, 455, 600])
numbers

0    155
1     10
2    235
3    455
4    600
dtype: int64

## Step 3 Sort the values

In [3]:
numbers.sort_values()

1     10
0    155
2    235
3    455
4    600
dtype: int64

In [4]:
# In an descending order
numbers.sort_values(ascending=False)

4    600
3    455
2    235
0    155
1     10
dtype: int64

<a href="https://365datascience.com/resources-center/offer/?utm_medium=web&utm_source=rs&utm_campaign=web-rs-ordering-the-rows-from-a-data-table-according-to-the-values-in-a-column-in-python&utm_content=ordering-the-rows-from-a-data-table-according-to-the-values-in-a-column-in-python&utm_term=t">Start your 365 Journey!</a>